img {
  width: 50%;
  height: 50%;
}

h3 {
  margin-top: -35px;
  margin-bottom: 2px;
  margin-left: 115px
}

h3, .logo {
  position: absolute;
}

.epicodusblue {
  color: #009cb5;
}

.logo {
  float: left;
  margin-top: -32px;
}

.row {
  padding-top: 15px;
}

#javaresult {
  display: none;
}

#rubyresult {
  display: none;
}

#phpresult {
  display: none;
}

#csharpresult {
  display: none;
}


.trackquiz {
  display: inherit;

}
